/* .app {
  background-color: pink;
  height: 100vh;
}

.topbar_container {
  background-color: pink;
}

.sidebar_container {
  display: flex;
}

.user_forms {
  display: block;
  padding: 30px;
}

.loggedIn_view {
  padding: 30px;
  font-weight: bold; 
  font-size: 20px;
} */