.app_container {
  background-color: black;
  height: 90vh;
  font-family: 'Open Sans', sans-serif;
}

.sidebar_main_container {
  display: flex;
}

::placeholder {
  font-family: 'Open Sans', sans-serif;
  color: rgba(107, 103, 103, 0.995);
}