/* .loginForm_container {
  padding: 20px;
  margin: 20px;
  align-items: center;
  display: grid;
  width: 100%;
  border: 3px solid lightcoral;
} */
/* 
.signUpForm_container{
  padding: 20px;
  margin: 20px;
  align-items: center;
  display: grid;
  width: 100%;
  border: 3px solid lightcoral;
} */
/* 
form {
  padding: 30px;
  align-items: center;
  display: grid;
  width: 100%;
} */
/* 
input {
  padding: 10px;
  margin-bottom: 10px;
} */
/* 
.submit_button {
  padding: 10px;
  font-size: 20px;
  background-color: black;
  border: 3px solid pink;
  color: white;
  border-radius: 8px;
  width: 100%;
}
.submit_button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 3px solid black;
} */
