.sidebar {
  background-color: rgb(184, 169, 197);
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
  border-right: 3px solid black;
  height: auto;
  width: 30%;
  text-align: center;
}

.sidebar_logout_button_container {
  align-items: center;
  justify-content: center;
}

.sidebar_logout_button {
  padding: 5px;
  font-size: 20px;
  background-color: black;
  border: 2px solid white;
  color: white;
  border-radius: 8px;
  width: 80%;
  margin-top: 60px;
}

.sidebar_logout_button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

.hidden_button {
  display: none;
}